{% extends "shortener/base.html" %}
{% block content %}

<div>
    <div>
        <img src="https://raw.githubusercontent.com/find-aman/profile_image/master/DSC_1620%20copy.jpg" alt="image"
            style="border-radius: 50%; width: 120px; height: 120px;">
    </div>
    <div>
        <p class="text-white font-italic">
            Hi, I am Aman Gupta<br> A FullStack Professional<br> A Bachelor's of Technology Graduate in Computer Science
            and Engineering.<br>For more of my professional updates have a look at my LinkedIn and GitHub profiles.
        </p>
    </div>
    <div>
        <a href="https://github.com/find-aman/url_shortener" style="color: white;" target="_blank">
            <i class="fa fa-github" style="font-size:50px"></i>
        </a>
        <a href="https://www.linkedin.com/in/amang9578/" style="color: white; margin-left: 50px;" target="_blank">
            <i class="fa fa-linkedin" style="font-size:50px"></i>
        </a>
    </div>
</div>

{% endblock content %}