{% extends "shortener/base.html" %}
{% block content %}
<div class="grandParentContaniner">

    <div class="parentContainer">

        <form align="center" method="POST">
            {% csrf_token %}
            <div class="form-group">
                {{form.url}}

            </div>
            <div class="form-group">
                {{form.shortcode}}
                <label class="form-check-label text-white" id="ifLabelYes" style="display: none;">
                    Unique custom code 6-15 chars
                </label>
            </div>
            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="yesCheck" onclick=yesnoCheck()>
                <b><label class="form-check-label text-primary" for="exampleCheck1">Custom
                        Shortcode</label></b>
            </div>

            <button type="submit" class="btn btn-primary">Short URL</button>
        </form>
    </div>
</div>
{% endblock content %}