{% extends "shortener/base.html" %}
{% block content %}
<div class="grandParentContaniner">

    <div class="parentContainer">

        <form align="center" method="POST">
            <div class="form-group">
                <input type="email" class="form-control form-control-lg" id="copyField" aria-describedby="emailHelp"
                    value="{{object.get_short_url}}" readonly>

            </div>

            <button type="button" class="btn btn-primary" onclick="myFunction()">Copy</button>
            <a href="{% url 'home' %}" class="btn btn-primary">New</a>
        </form>
    </div>
</div>
{% endblock content %}